body{
    width: 40%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 200px;
}

article:nth-of-type(1) img{
    float: left;
    clip-path: polygon(50% 0, 50% 46%, 100% 46%, 100% 100%, 0 100%, 0 61%, 0 0);
    shape-outside: polygon(50% 0, 50% 46%, 100% 46%, 100% 100%, 0 100%, 0 61%, 0 0);
    shape-margin: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
}
h2:nth-of-type(2){
margin-top: 10%;
}

article:nth-of-type(2) img{
    float: right;
    clip-path: polygon(0 0, 43% 0, 100% 0, 100% 100%, 0 100%, 1% 69%, 48% 69%, 48% 32%, 0 32%);
    shape-outside: polygon(0 0, 43% 0, 100% 0, 100% 100%, 0 100%, 1% 69%, 48% 69%, 48% 32%, 0 32%);
    /* clip-path: polygon(0 0, 43% 0, 100% 0, 100% 100%, 0 100%, 0 74%, 48% 74%, 48% 32%, 0 32%);
    shape-outside: polygon(0 0, 43% 0, 100% 0, 100% 100%, 0 100%, 0 74%, 48% 74%, 48% 32%, 0 32%); */
    shape-margin: 10px;

}